@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    margin: 0; /* Remove default page margins */
  }
  body {
    margin: 0;
    padding: 1cm; /* Add padding to the page as needed */
  }
}